.sidebar {
  width: 250px;
  min-height: calc(100vh - 70px);
  background-color: #0f172a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 14px;
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebarCollapsed {
  width: 80px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 48px;
}

.logo h2 {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
}

.sidebarCollapsed .logo {
  justify-content: center;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 16px;
  border-radius: 12px;
  text-decoration: none;
  color: #cbd5e1;
  transition: all .25s ease;
  font-weight: 500;
}

.link:hover {
  background: rgba(37, 99, 235, 0.15);
  color: white;
}

.active {
  background-color: #2563eb;
  color: white;
}

.sidebarCollapsed .link {
  justify-content: center;
}

.footer {
  border-top: 1px solid #334155;
  padding-top: 20px;
}

.sidebarCollapsed .footer {
  text-align: center;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.role {
  font-size: .9rem;
  color: #94a3b8;
  margin-top: 4px;
}